.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 30px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.79); 
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.79);
}

.pay-title {
    font-size: 20px;
    color: gray;
}

label {
    font-size: 14px;
    font-weight: 300;
}

.pay-input {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.pay-input::placeholder {
    color: gray;
    font-weight: 200;
}

.card-icons {
    display: flex;
}

.card-icon {
    margin-right: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.pay-input-card {
    width: 30%;
}

.pay-btn {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    background-color: rgb(40, 141, 175);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.pay-btn:hover {
    opacity: 0.8;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(40, 141, 175);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px;
}

